ul(class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar")

  a(class="sidebar-brand d-flex align-items-center justify-content-center")
    div(class="sidebar-brand-text mx-3") Reporting App

  hr(class="sidebar-divider my-0")

  li(class="nav-item")
    a(class="nav-link" href="/coursemaster")
      i(class="fas fa-book-open fa-book-alt")
      span Course Master

  li(class="nav-item")
    a(class="nav-link" href="/studentlist")
      i(class="fas fa-users fa-tachometer-alt")
      span Student Master

  li(class="nav-item")
    a(class="nav-link" href="/newregister")
      i(class="fas fa-user fa-tachometer-alt")
      span Register New Student
      
  <hr class="sidebar-divider">